
<!doctype html>
<html lang="en">
<!--

Page    : index / MobApp
Version : 1.0
Author  : Colorlib
URI     : https://colorlib.com

 -->

<head>
    <title> ShopLaptop - Cửa hàng buôn bán Laptop uy tín</title>

    <link rel="shortcut icon" type="image/png" href="~/Content/image/LogoLap.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">

    <!-- Font -->
    

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Themify Icons -->
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Main css -->
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="30" style="background-image:url(/Content/image/neen.jpg); background-repeat:no-repeat ; background-size:100%">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5" style="margin-top:8%">
            <h1 style="text-align:center; width:100%; color:white; font-family:Butterfly ; opacity:0.8 ;font-size:120px">ShopLaptop.com<br /></h1>
            <h4 class="tagline" style="text-align:center;font-family:Butterfly;width:100%;opacity:0.9; color:red; font-size:70px">Welcome to ShopLaptop</h4>
        </div>
        <div class="img-holder mt-3">
            <div class="container mt-5" style="text-align:center" >
               
                <div class="container">
                    <a href="/loginAdmin/Index" style="color:snow; opacity:0.8 ;font-size:40px; margin-right:100px">Admin</a>
                    <a href="/Home/Index" style="color:snow ;opacity:0.8;font-size:40px">Client</a>
                </div>
                
            </div>
             @RenderBody()
        </div>
    </header>
</body>
</html>
